.loginInputsContainer {
    position: absolute;
    width: 100%;
    top: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;

    span {
        max-width: 450px;
        margin: auto;
    }

    input {
        font-size: 18px !important;
        margin-left: 10px;
    }
}